<!-- <p>footer works!</p> -->

<div class="footer">
    
    
    <img class="bottomLogo" src="../../../../assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png" alt="">
    
    
    <div>

        <img class="socialMediaLinks" src="../../../../assets/img/5_section_footer/PNG/tripadvisor_logo.png" alt="">
        <img class="socialMediaLinks" src="../../../../assets/img/5_section_footer/PNG/facebook_logo.png" alt="">
        <img class="socialMediaLinks" src="../../../../assets/img/5_section_footer/PNG/instagrram_logo.png" alt="">

    </div>
    


</div>