<!-- <p>how-to-order works!</p> -->
<div class="orderSection">
    <h2>HOW TO ORDER</h2>


    <div class="orderSectionIconBar">
        <div class="iconsAndTextCont">
            <img class="orderSectionIcons" src="../../../assets/img/2_section_how_to_order/PNG/noodle.png">
            Pick your <br> noodle
        </div>

        <div class="iconsAndTextCont">
            <img class="orderSectionIcons" src="../../../assets/img/2_section_how_to_order/PNG/broth.png">
            Pick your <br> broth
        </div>

        <div class="iconsAndTextCont">
            <img class="orderSectionIcons" src="../../../assets/img/2_section_how_to_order/PNG/egg.png">
            Add your <br> toppings
        </div>

    </div>



</div>